.body {
    color: #F0FF33;
    background-image: url('https://img.wallpapersafari.com/desktop/800/450/36/25/ZO0x7m.png');
    background-size: cover;
    background-repeat: no repeat;
    height: 100vh;
    z-index: 50;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    font-size: 1.2em;
}

.body1 {
  color: #ffcc00;
  background-color: #d9d9d9;
  font-size: 15px;
  display: flex;
  text-align: center;
  align-items: center;
  /* justify-content: flexStart; */
  flex-direction: column;
  height: 100vh;
}

.container {
    color: #F0FF33;
    background-image: url('https://img.wallpapersafari.com/desktop/800/450/36/25/ZO0x7m.png');
    background-size: cover;
    background-repeat: no repeat;
    height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.h1index {
    font-size: 1.1em;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}
.h2index {
    font-size: 1.1em;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.h3 {
    color: #F0FF33;
    /* background-image: url('https://wallpapercave.com/wp/wp2250916.jpg'); */
    background-size: cover;
    background-repeat: no repeat;
    height: 100vh;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100vh;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.body-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

.nav {
    background-color: black;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav a {
    float: left;
    color: #f2f2f2;
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 10px 13px;
    text-decoration: none;
    font-size: 15px;
}


.nav a:hover {
    background-color: #ddd;
    color: black;
}
  

.nav a.active {
    color: white;
}

.description {
    background-color: rgba(0, 68, 255, 0.911);
    
}

.btn {
    background-color: #F0FF33;
    border-radius: 10px;
    transition: 0.5s;
}

a :hover {
    background-color: aqua;
    box-shadow: 0 0 35px;
}


/* a :before {
    content: '';
    position: absolute;
    inset: 2px;
} */
.h4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}