body {
    color: #F0FF33;
    /* backgroundimage: url(https://cdn.wallpapersafari.com/0/71/pB3goh.jpg), */
    background-color: black;
    background-size: cover;
    background-repeat: no repeat;
    height: 100vh;
    z-index: 50;
}
  
.container {
    padding: 100px;
}

.title {
    background-color: red;
    
}